body,html {
    padding: 0px;
    margin: 0px;
}
.conteudo {
    display:flex;
    flex-direction: row;
    background-color: silver;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
}
.card {
    width: 200px;
    height: 200px;
    background-color: yellow;
}